<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PAGE</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
		/>
	</head>
	<body>
		<div class="container">
			<h1>Update</h1>
			<form action="/budget/<%=budgets.id%>?_m=PUT" method="POST">
				date: <input type="text" name="date" placeholder="<%=budgets.date%>" />
				<br />
				name: <input type="text" name="name" placeholder="<%=budgets.name%>" />
				<br />
				from:
				<input type="text" name="from" placeholder="<%=budgets.from%>" />
				<br />
				amount:
				<input type="number" name="amount" placeholder="<%=budgets.amount%>" />
				<br />
				tags:
				<input type="text" name="tags" placeholder="<%=budgets.tags%>" />
				<br />

				<input type="submit" value="SAVE" />
				<button>
					<a href="/budget">GO BACK</a>
				</button>
			</form>
		</div>
	</body>
</html>
