<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
		/>
		<title>Budget of <%=budgets.name%></title>
	</head>
	<body>
		<div class="container">
			<h1><%=budgets.name%></h1>
			<button>
				<a href="/budget">GO BACK</a>
			</button>

			<h3>Date <br /><%=budgets.date%></h3>
			<h3>Name <br /><%=budgets.name%></h3>
			<h3>From <br /><%=budgets.from%></h3>
			<h3>Amount <br /><%=budgets.amount%></h3>
			<h3>Tags <br /><%=budgets.tags%></h3>
		</div>
	</body>
</html>
